body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: url(../img/bg.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center;
  margin:0px;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}


h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #0089FF;
  transition: 0.2s;

}

a:hover {
  color: #D21071;
  transition: 0.2s;
  text-decoration: underline;
}




.main-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}





.main-title {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.main-screen h1 {
  color: #fff;
  text-align: center;
  margin:0px;
}

.main-title h5 {
  color: #fff;
  text-align: center;
  margin:0px;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 10px;
}

@keyframes fade-in-top {
    0% {
        margin-top: -50px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        background-size: 160%;
    }
    100% {
        background-size: cover;
    }
}

.main-message {
  position: absolute;
  animation: fade-in-top 1.2s ease;
  width: 85%;
  padding: 10px 15px 5px 15px;
  border-radius: 12px;
  top: 30%;
  background: url(../img/bg-message.png) no-repeat center;
  background-size: 300%;




}

.main-message p {
  color: #000;
  font-weight: 400;
  text-align: left;
}



.main-message span {
  color: #666;
  font-weight: 400;
}

.main-message-info span:nth-child(1) {
  padding-left: 35px;
}

.main-message-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  background: url(../img/logo-eora.png) no-repeat;
  background-size: 23px;

}

.main-swipe {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-screen-swipe {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-swipe h3 {
  color:#fff;
  text-align: center;
}

.upload-screen-swipe h3 {
  color:#fff;
  text-align: center;
}

.arrow {
    margin: 30px 30px 15px 30px;
    transform: rotate(180deg);
}
.arrow span {
    display: block;
    width: 15px;
    border-radius: 2px;
    height: 15px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-7 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
.upload-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-screen-info-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.upload-screen-mockup-border {
  width: 156px;
  height: 312px;
  background: url(../img/mockup.png) no-repeat;
  background-size: cover;
  display: flex;
  overflow: hidden;
}



.upload-screen-mockup-border img {
  width: 132px;
  margin: 14px;
  height: 283px;
  border-radius: 13px;
}

@media all and (min-width: 900px){
  .upload-screen-mockup-border {
    width: 300px;
    height: 590px;
  }

  .upload-screen-mockup-border img {
    width: 256px;
    margin: 23px;
    height: 544px;

  }
}

.upload-screen-list-block {
  display: block;
  width: 50%;
  height: 200px;
  padding: 10px;
  background: rgb(80,80,80);
background: -moz-linear-gradient(90deg, rgba(80,80,80,0.5298319156764268) 0%, rgba(80,80,80,0.47661062716102065) 35%, rgba(92,92,92,0.08445376441592267) 83%, rgba(0,212,255,0) 100%);
background: -webkit-linear-gradient(90deg, rgba(80,80,80,0.5298319156764268) 0%, rgba(80,80,80,0.47661062716102065) 35%, rgba(92,92,92,0.08445376441592267) 83%, rgba(0,212,255,0) 100%);
background: linear-gradient(90deg, rgba(80,80,80,0.5298319156764268) 0%, rgba(80,80,80,0.47661062716102065) 35%, rgba(92,92,92,0.08445376441592267) 83%, rgba(0,212,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#505050",endColorstr="#00d4ff",GradientType=1);
}

.upload-screen-list-block ul {
  margin: 0px;
  padding: 0px;
}

.main-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.upload-screen-list-block ul li {
  list-style: none;
  padding-bottom: 5px;
  color: #fff;
}

.upload-photo {
  background: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 5px
}

.button-go {
  background: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #333;
}

.button-go:hover {
  background: #999;
}

.last-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sticker-example {
  width: 200px;
  height: 200px;
  display: block;
  background: url(../img/face.png) no-repeat;
  background-size: 72%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.button-sticker {
  display: none;
  background: #4CAF50;
  color: #fff!important;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 1.2rem;
}

.button-sticker-tel {
  background: #4CAF50;
  color: #fff!important;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
}


.button-sticker:hover {
  background: #999;
}

.photo-frame {
  display: none;

  margin: 0 auto;
  width: 200px;
  height: 300px;
  border-radius: 7px;
  border: 3px solid #fff;
}

.photo-frame img {
  width: 100%;
  height: 100%;
}

.disclaimer {
  display: none;
  width: 90%;
  color: #fff;
}

.disclaimer p {
  text-align: center;

}

.disclaimer p a {
  background: #fff;
  border-radius: 5px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    animation: fade-in-top 0.3s ease;
    width: 70%;
    max-width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;

    width: 40px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.modalDialog p {
  padding-top: 15px;
}

.modalDialog input {
  padding: 7px;
  margin-bottom: 15px;
}
.modalDialog a {
  margin-bottom: 15px;
  font-size: 1rem;
}
