{% extends "base.html" %}

{% block title %}
<title>Потрачено | чуть было не было</title>
<meta name="Description" content=" index ">

{% endblock %}




{% block content %}


<div class="main-wrap">




    <div class="main-screen">
      <div class="main-title">
        <h1>ПОТРАЧЕНО</h1>
        <h5>чуть было не было</h5>
      </div>
      <div class="main-message">
        <div class="main-message-info">
          <span>EORA</span> <span>сейчас</span>
        </div>
        <p>Думаешь, выпускного 2020 не было?<br>Ты просто забыл...</p>
      </div>
      <div class="main-swipe">
        <div class="arrow">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h3>Вспомнить всё</h3>
      </div>
    </div>



    <div class="upload-screen">
      <div class="main-title">
        <h5>Загрузи фото с лицами корешей и узнай, что было с вами на тусе, ну или не было</h5>
      </div>
      <div class="upload-screen-info-block">
        <div class="upload-screen-mockup-border">
          {% load static %}
          <img id ='photo_img' src="{% static 'img/photo.jpg' %}">
        </div>
        <div class="upload-screen-list-block">
          <ul>
            {% csrf_token %}
            <li>1. Добавь фото</li>
            <li><input type="file" name="upload-photo" id='photo' class="upload-photo"></li>
            <li>2. Получи видео</li>
            <li><input type="submit" id="submiter" name="go" value="Отправить" class="button-go"></li>
            <li>3. Поделись в соцсетях и получи орные стикеры с вашими лицами</li>
          </ul>

        </div>

      </div>
      <div class="upload-screen-swipe" id="third">
        <div class="arrow">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h3>Получить стикеры</h3>
      </div>
    </div>



    <div class="last-screen">
      <div class="sticker-example">

      </div>
      <input type="submit"  value="Забрать" class="button-sticker">
    </div>



</div>


{% endblock %}
