{% extends "base.html" %}

{% block title %}
<title>Потрачено | чуть было не было</title>
<meta name="Description" content=" index ">
{% endblock %}




{% block content %}
<div class="main-wrap">
  <div class="main-screen">
    <div class="main-title">
      <h1>ПОТРАЧЕНО</h1>
      <h5>Чуть было не было</h5>
    </div>
  </div>
  <div class="upload-screen">
    <input type="file" name="upload-photo">
    <input type="submit" name="go" value="Нарезать">
  </div>
  <div class="last-screen">
  </div>
</div>
{% endblock %}
